<md-toolbar color="primary">
  Hot or Not?
  <div class="fill"></div>
  <button md-fab (click)="connect()"><md-icon>add</md-icon></button>
</md-toolbar>

<md-card *ngFor="let player of players">
  <md-card-header>
    <md-card-title>
      {{player.name}}
    </md-card-title>
    <md-card-subtitle>
      {{player.temperature|async}}
    </md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <md-slider min="0" max="40" [value]="player.temperature|async" readonly></md-slider>
  </md-card-content>
</md-card>

